@import '_normalize.css';
@import 'header.css';
@import 'footer.css';
@import 'buttons.css';
@import 'menus.css';
@import 'img.css';
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/* MIXINS */
/* CONFIG BODY & TITRE */
* {
  box-sizing: border-box;
}

body {
  max-width: 1440px;
  margin: 0 auto;
  font-family: "Roboto";
  font-weight: normal;
}

h1, h2, h3, h4 {
  font-family: "Shrikhand";
  font-weight: 700;
}

/* MEDIA QUERIES */
@media (min-width: 767px) {
  .img_restaurant img {
    height: 300px;
  }
  .contain_title_menu .contain_title {
    justify-content: center;
  }
  .contain_title_menu .contain_menu .contain_menu_text .contain_eat {
    padding: 15px;
  }
  .far.fa-light.fa-heart {
    padding: 20px 30px 20px 30px;
  }
  .button_command .button_bis button {
    width: 220px;
  }
}
@media (max-width: 767px) {
  .contain_title_menu .contain_menu {
    display: block;
  }
  .contain_title_menu .contain_menu .contain_menu_text .contain_eat {
    width: 100%;
  }
}
/* LOCALISATION */
.loc {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ebedef;
  box-shadow: inset 0px 3px 4px lightgrey;
}
.loc p {
  margin-left: 10px;
}

/* TEXTE - BOUTON */
.eat {
  background-color: #f2f2f2;
  padding: 40px;
}
.eat .menu {
  display: block;
  text-align: center;
}
.eat .menu .eat_menu {
  margin: 0;
  font-size: 25px;
  font-weight: bold;
}
.eat .menu .restaurant {
  font-weight: 300;
  font-size: 18px;
}
.eat .button_ {
  display: block;
  text-align: center;
}
.eat .button_ button {
  margin-top: 10px;
  height: 50px;
  width: 220px;
  padding: 10px;
  text-align: center;
  background: linear-gradient(#FF79DA, #9256dc);
  border-radius: 25px;
  border: grey;
  box-shadow: 0 5px 7px rgb(200, 199, 199);
}
.eat .button_ button .explore {
  text-decoration: none;
  color: white;
  font-size: 15px;
}

/* FONCTIONNEMENT */
.choose_menu {
  padding: 20px 0 20px 0;
}
.choose_menu .fonction {
  font-family: "Roboto";
  padding: 10px;
  margin: 0;
}
.choose_menu .contain_fonction .choose {
  display: flex;
  align-items: center;
  padding: 10px;
}
.choose_menu .contain_fonction .choose .contain_number {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  background-color: #9256dc;
  color: white;
  font-size: 15px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}
.choose_menu .contain_fonction .choose .contain_choose {
  width: 440px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  background-color: #f2f2f2;
  margin-left: 10px;
  box-shadow: 0 5px 10px rgb(200, 199, 199);
}
.choose_menu .contain_fonction .choose .contain_choose p {
  margin-left: 20px;
}
.choose_menu .contain_fonction .choose .contain_choose_bis {
  width: 440px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  background-color: rgba(126, 39, 141, 0.1450980392);
  margin-left: 10px;
  box-shadow: 0 5px 10px rgb(200, 199, 199);
}
.choose_menu .contain_fonction .choose .contain_choose_bis p {
  margin-left: 20px;
}

.fa-solid.fa-store {
  color: #9256dc;
}

.fa-solid.fa-list::before {
  margin-left: -7px;
}

.fa-solid.fa-mobile-screen-button::before {
  margin-left: 8px;
}

/* CARD - RESTAURANT */
.contain_restaurants {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #f2f2f2;
  padding: 0px;
}
.contain_restaurants .cards {
  width: 100%;
  background-color: #f2f2f2;
  border-radius: 20px;
}
.contain_restaurants .cards #restaurants {
  font-family: "Roboto";
  margin: 0;
  padding: 20px 10px;
}
.contain_restaurants .cards .card_restaurant {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
}
.contain_restaurants .cards .card_restaurant a {
  width: 330px;
  margin: 30px 0px;
}
.contain_restaurants .cards .card_restaurant a article {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 250px;
  width: 100%;
  max-width: 320px;
  position: relative;
  margin-bottom: 20px;
  box-shadow: 0px 5px 10px rgba(200, 199, 199, 0.8);
  border-radius: 15px;
}
.contain_restaurants .cards .card_restaurant a .new {
  right: 20px;
  top: 15px;
  padding: 7px;
  background-color: #99E2D0;
  color: green;
  font-weight: bold;
  position: absolute;
}
.contain_restaurants .cards .card_restaurant a .image_restaurant {
  height: 70%;
  width: 100%;
  overflow: hidden;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  object-position: 0 0;
}
.contain_restaurants .cards .card_restaurant a .image_restaurant img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.contain_restaurants .cards .card_restaurant a .description_text {
  height: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 15px;
}
.contain_restaurants .cards .card_restaurant a .description_text .contain_text {
  margin: 0;
  color: black;
  font-size: 18px;
}
.contain_restaurants .cards .card_restaurant a .description_text .contain_text .name {
  font-weight: 700;
}
.contain_restaurants .cards .card_restaurant a .description_text .contain_text .place {
  font-weight: 300;
}

.contain_restaurants .name .place {
  font-size: 92%;
}

.cards h2, .name .place {
  width: 100%;
}

a:link {
  text-decoration: none;
}

a:focus {
  color: black;
}

@media (min-width: 767px) {
  .fonction {
    text-align: center;
  }
  .contain_fonction {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  #restaurants {
    text-align: center;
  }
}
@media (max-width: 767px) {
  .contain_restaurants .cards .card_restaurant {
    flex-flow: column;
    align-items: center;
  }
  .contain_restaurants .cards .card_restaurant a {
    padding: 0 10px;
    margin: 0px 0;
  }
}

/*# sourceMappingURL=index.css.map */
