@import '_normalize.css';
/* MIXINS */
/* MIXINS */
/* HEADER */
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
header h1 {
  display: block;
  text-align: center;
  margin: 0px;
  padding: 10px;
}
header .header_left {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
}
header .header_left a {
  position: absolute;
  left: 20px;
  color: black;
}

/* FOOTER */
footer {
  padding: 10px;
  background-color: black;
  color: white;
}
footer h1 {
  color: white;
  font-size: 20px;
  display: block;
  text-align: left;
  margin-left: 10px;
}
footer .contain_footer {
  padding: 10px;
}
footer .contain_footer a {
  color: white;
  text-decoration: none;
}
footer .contain_footer p {
  margin: 3px 5px 3px 0;
}
footer .contain_footer .contain_partner {
  display: flex;
  align-items: center;
  justify-content: left;
}
footer .contain_footer .contain_partner .fa-solid.fa-utensils::before {
  font-size: 14px;
  margin: 0px 10px 0 0;
}
footer .contain_footer .contain_partner .fa-solid.fa-handshake-angle::before {
  font-size: 13px;
  margin: 0px 6px 0 0;
}

/* MIXINS */
/* BOUTONS */
.button_command {
  background-color: #f2f2f2;
  display: block;
  text-align: center;
}
.button_command .button_bis {
  display: block;
  text-align: center;
  padding: 30px 50px 80px 50px;
}
.button_command .button_bis a {
  height: 50px;
  width: 160px;
  padding: 15px 30px;
  text-align: center;
  background: linear-gradient(#FF79DA, #9256dc);
  border-radius: 30px;
  border: grey;
  box-shadow: 0 5px 7px rgb(200, 199, 199);
  cursor: pointer;
  transition: background, box-shadow;
}
.button_command .button_bis a.command {
  text-decoration: none;
  color: white;
  font-size: 15px;
}
.button_command .button_bis a:hover {
  background: linear-gradient(#f982d7, #975edd);
  box-shadow: 0 5px 7px rgb(156, 154, 154);
}

/* MIXINS */
/* Menu */
.contain_title_menu {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  margin-top: -30px;
  background-color: #f2f2f2;
  position: relative;
}
.contain_title_menu .contain_title {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.contain_title_menu .contain_title .contain_icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 110%;
}
.contain_title_menu .contain_title .contain_icon .heart_a {
  position: absolute;
  left: 0;
}
.contain_title_menu .contain_title .contain_icon .heart_b {
  background: linear-gradient(#FF79DA, #9256dc);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  color: transparent;
  visibility: hidden;
}
.contain_title_menu .contain_title .contain_icon:hover > .heart_b {
  visibility: visible;
  animation: 0.3s filling-heart ease-in-out forwards;
  transform-origin: bottom;
  cursor: pointer;
  font-weight: bold;
}
@keyframes filling-heart {
  0% {
    transform: scaleX(0) scaleY(0);
  }
  100% {
    transform: scaleX(1.1) scaleY(1.1);
  }
}
.contain_title_menu .contain_menu {
  padding: 0px 10px 0px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.contain_title_menu .contain_menu .contain_menu_text {
  padding-bottom: 30px;
}
.contain_title_menu .contain_menu .contain_menu_text .menu_text {
  font-weight: 300;
  margin: 0;
  font-family: "Roboto";
  font-size: 16px;
}
.contain_title_menu .contain_menu .contain_menu_text .menu_text::after {
  content: "";
  margin: 5px 0;
  display: block;
  height: 3px;
  width: 40px;
  background: #99E2D0;
}
.contain_title_menu .contain_menu .contain_menu_text .contain_eat {
  background-color: white;
  box-shadow: 0px 5px 10px rgba(200, 199, 199, 0.8);
  border-radius: 15px;
  width: 500px;
  display: flex;
  overflow: hidden;
  margin: 10px 10px 10px 0;
  animation: 2s eat backwards;
}
.contain_title_menu .contain_menu .contain_menu_text .contain_eat:nth-child(1) {
  animation-delay: 100ms;
}
.contain_title_menu .contain_menu .contain_menu_text .contain_eat:nth-child(2) {
  animation-delay: 200ms;
}
.contain_title_menu .contain_menu .contain_menu_text .contain_eat:nth-child(3) {
  animation-delay: 300ms;
}
.contain_title_menu .contain_menu .contain_menu_text .contain_eat:nth-child(4) {
  animation-delay: 400ms;
}
.contain_title_menu .contain_menu .contain_menu_text .contain_eat:nth-child(5) {
  animation-delay: 500ms;
}
@keyframes eat {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
.contain_title_menu .contain_menu .contain_menu_text .contain_eat .text {
  width: 85%;
  padding: 15px 0 15px 15px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  white-space: nowrap;
}
.contain_title_menu .contain_menu .contain_menu_text .contain_eat .text p {
  font-weight: 700;
  font-size: 110%;
  width: 100%;
  margin-bottom: 5px;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 0;
}
.contain_title_menu .contain_menu .contain_menu_text .contain_eat .text .eat_text {
  font-size: 90%;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
}
.contain_title_menu .contain_menu .contain_menu_text .contain_eat .price {
  height: 100%;
  width: 15%;
  font-weight: 700;
  font-size: 90%;
  align-self: flex-end;
  text-align: center;
  padding: 15px 0px;
}
.contain_title_menu .contain_menu .contain_menu_text .contain_eat .check_green {
  background: #99E2D0;
  width: 20%;
  margin-right: -25%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: margin-right 1s ease-in-out;
}
.contain_title_menu .contain_menu .contain_menu_text .contain_eat .check_green i {
  color: white;
  font-size: 150%;
}
.contain_title_menu .contain_menu .contain_menu_text .contain_eat:hover .check_green {
  margin-right: 0;
}
.contain_title_menu .contain_menu .contain_menu_text .contain_eat:hover .check_green i {
  animation: 0.6s check 0.2s linear;
}

@keyframes check {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0);
  }
}
/* Image */
.img_restaurant img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

/* CONFIG BODY & TITRE */
* {
  box-sizing: border-box;
}

body {
  max-width: 1440px;
  margin: 0 auto;
  font-family: "Roboto";
  font-weight: normal;
}

h1, h2, h3, h4 {
  font-family: "Shrikhand";
  font-weight: 700;
}

/* MEDIA QUERIES */
@media (min-width: 767px) {
  .img_restaurant img {
    height: 300px;
  }
  .contain_title_menu .contain_title {
    justify-content: center;
  }
  .contain_title_menu .contain_title h2 {
    padding-right: 10px;
  }
  .far.fa-light.fa-heart {
    padding: 20px 0px 20px 30px;
  }
  .button_command .button_bis button {
    width: 220px;
  }
}
@media (max-width: 767px) {
  .contain_title_menu .contain_menu {
    display: block;
  }
  .contain_title_menu .contain_menu .contain_menu_text .contain_eat {
    width: 100%;
  }
}

/*# sourceMappingURL=page3.css.map */
