//footer

/* FOOTER */

footer {
    padding: 20px;
    background-color: black;
    color:white;

    h1 {
        color:white;
        font-size: 20px;
        display: block;
        text-align: left;
        margin-left: 10px;
    }
    .contain_footer {
        padding: 10px;

        a {
            color:white;
            text-decoration: none; 
        }

        p {
            margin: 3px 5px 3px 0;
        }

        .contain_partner {
            display: flex;
            align-items: center;
            justify-content: left;         
        }
    }
}

.fa-solid.fa-utensils::before {
    font-size: 14px;
    margin: 0px 10px 0 0;
}

.fa-solid.fa-handshake-angle::before {
    font-size: 13px;
    margin:0px 6px 0 0;
}
