@import '_mixins';


/* Menu */

.contain_title_menu {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    margin-top: -30px;
    background-color: #f2f2f2;
    position: relative;

    .contain_title {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .contain_menu {
        padding: 10px;
        @include boxcenter();
        flex-direction: column;
        
        .contain_menu_text {
         
            .menu_text {
                font-weight: 300;
            }
            .menu_text::after {
                content: "";
                margin: 5px 0;
                display: block;
                height: 3px;
                width: 40px;
                background: $tertiary;
            }
            .contain_eat {
                background-color: white;
                box-shadow: 0px 5px 10px rgb(200 199 199 / 80%);
                border-radius: 15px;
                width:500px;
                display: flex;
                overflow: hidden;
                margin: 10px 10px 10px 0;
                animation:2s eat backwards;

                &:nth-child(1) {
                    animation-delay: 100ms;
                }

                &:nth-child(2) {
                    animation-delay: 200ms;
                }
                &:nth-child(3) {
                    animation-delay: 300ms;
                }
                &:nth-child(4) {
                    animation-delay: 400ms;
                }
                &:nth-child(5) {
                    animation-delay: 500ms;
                }

                @keyframes eat {
                    0% {
                        transform: translateY(50%);
                        opacity:0;
                    }
 
                    100% {
                        transform: translateY(0%);
                        opacity: 1;
                    }
                }
                
                .text {
                    width: 85%;
                    padding: 15px 0 15px 15px;
                    display: flex;
                    flex-direction: column;
                    overflow: hidden;
                    white-space: nowrap;
               
                    p {
                        font-weight: 700;
                        font-size: 110%;
                        width: 100%;
                        margin-bottom: 5px;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        margin:0;
                    }

                    .eat_text {
                        font-size: 90%;
                        width: 100%;
                        text-overflow: ellipsis;
                        overflow: hidden;
                    }          

                }
                .price {
                    height: 100%;
                    width: 15%;
                    font-weight: 700;
                    font-size: 90%;
                    align-self: flex-end;
                    text-align: center;
                    padding: 15px 0px;
                }          
                .check_green {
                    background: $tertiary;
                    width: 20%;
                    margin-right:-25%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    transition:margin-right 1s ease-in-out;
                    i {
                        color: white;
                        font-size: 150%;
                    }
                }
                
                &:hover .check_green {
                    margin-right:0;
                    
                    i {    
                        animation: 0.6s check 0.2s linear;
                    }
                }

            }

        }
        
    }
}

@keyframes check {
    0% {
        transform: rotate(360deg);
    }
    100% {
        transition: rotate(0);
    }
}
.fa-heart::before {
    cursor: pointer;
}