//mixins

/* MIXINS */

@mixin boxcenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin blockcenter {
    display: block;
    text-align: center;
}

@mixin boxshadowgrey {
    box-shadow: 0 5px 10px rgb(200, 199, 199);
}