@import 'common';

   
.loc {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ebedef;
    box-shadow: inset 0px 3px 4px lightgrey;
}
.lieu {
    margin-left: 10px;
}
.eat_menu {
    margin: 0;
    font-size: 25px;
    font-weight: bold;
}
.menu {
    display: block;
    text-align: center;
    padding: 40px;
}

.eat {
    background-color: #f2f2f2;
}
.restaurant {
    font-weight: 300;
    font-size: 18px;
}
