@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  box-sizing: border-box;
}

body {
  max-width: 1440px;
  margin: 0 auto;
  font-family: "Roboto";
  font-weight: normal;
}

h1, h2, h3, h4 {
  font-family: "Shrikhand";
  font-weight: 700;
}

h1 {
  display: block;
  text-align: center;
  margin: 0px;
  padding: 10px;
}

footer {
  padding: 20px;
  background-color: black;
  color: white;
}

footer h1 {
  color: white;
  font-size: 20px;
  display: block;
  text-align: left;
}

.contain_partner {
  display: flex;
  align-items: center;
  justify-content: left;
}

.contain_footer {
  padding: 10px;
}

.contain_footer p {
  margin: 3px 5px 3px 0;
}

.fa-solid.fa-utensils::before {
  font-size: 14px;
  margin: 0px 10px 0 0;
}

.fa-solid.fa-handshake-angle::before {
  font-size: 13px;
  margin: 0px 6px 0 0;
}

.loc {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ebedef;
  box-shadow: inset 0px 3px 4px lightgrey;
}

.lieu {
  margin-left: 10px;
}

.eat_menu {
  margin: 0;
  font-size: 25px;
  font-weight: bold;
}

.menu {
  display: block;
  text-align: center;
}

.eat {
  background-color: #f2f2f2;
  padding: 40px;
}

.restaurant {
  font-weight: 300;
  font-size: 18px;
}

.explore {
  text-decoration: none;
  color: white;
}

button {
  margin-top: 10px;
  height: 50px;
  width: 220px;
  padding: 10px;
  text-align: center;
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 25px;
  border: grey;
  box-shadow: 0 5px 7px rgb(200, 199, 199);
}

.button_ {
  display: block;
  text-align: center;
}

.choose_menu {
  padding: 20px 0 20px 0;
}

.fonction {
  font-family: "Roboto";
  padding: 10px;
  margin: 0;
}

.choose {
  display: flex;
  align-items: center;
  padding: 10px;
}

.contain_number {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  background-color: #9356DC;
  color: white;
  font-size: 15px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}

.contain_choose {
  width: 440px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  background-color: #f2f2f2;
  margin-left: 10px;
  box-shadow: 0 5px 10px rgb(200, 199, 199);
}

.rest {
  margin-left: 20px;
}

.contain_restaurants {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #f2f2f2;
  padding: 20px;
}

.contain_restaurants .name .place {
  font-size: 92%;
}

.cards {
  width: 100%;
  margin: 0;
  height: 645px;
  background-color: #f2f2f2;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  align-content: space-between;
}

.cards h2, .name .place {
  width: 100%;
}

.cards a {
  height: 50%;
  width: 40%;
}

.cards article {
  width: 90%;
  height: 90%;
  background-color: #ffffff;
  border-radius: 25px;
  box-shadow: 0 5px 7px rgb(200, 199, 199);
}

#restaurants {
  font-family: "Roboto";
  padding: 10px;
  margin: 0;
}

.card_restaurant {
  height: 90%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.image_restaurant {
  height: 60%;
  width: 100%;
  margin: 0;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  overflow: hidden;
}

.image_restaurant img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.description_text {
  height: 10%;
  display: flex;
  justify-content: space-between;
}

.name {
  font-weight: 700;
}

.place {
  font-weight: 300;
}

.contain_text {
  margin: 0;
  color: black;
  font-size: 18px;
}

a:link {
  text-decoration: none;
}

a:focus {
  color: black;
}

.new {
  position: absolute;
  display: flex;
  flex-direction: row;
}

@media (min-width: 991px) {
  .contain_fonction {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media (max-width: 767px) {
  .card_restaurant {
    flex-wrap: initial;
  }

  .cards a {
    height: auto;
    width: auto;
  }
}/*# sourceMappingURL=index.css.map */